[buildout]
parts = instance
extends = https://dist.plone.org/release/6.1.5/versions.cfg

extensions = mr.developer
sources-dir = src/
auto-checkout =
    kaeru.note
    plonetheme.kaerumy

[sources]
kaeru.note = git https://github.com/kaerumy/kaeru.note.git  pushurl=git@github.com:kaerumy/kaeru.note.git branch=main
plonetheme.kaerumy = git https://github.com/kaerumy/plonetheme.kaerumy

[versions]
pip = 25.0.1
setuptools = 75.8.2
wheel = 0.45.1
zc.buildout = 4.1.4
# The Plone 6.1.5 egg set uses PEP 420 (implicit) z3c namespace packages
# throughout (z3c.form 6.x, z3c.pt 5.x, ...). z3c.jbot 2.x is still
# pkg_resources-style and would take over the z3c namespace, making the
# implicit packages (z3c.form etc.) unimportable. 3.x is implicit and
# consistent with the set.
z3c.jbot = 3.1

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Plone
    Pillow
    kaeru.note
    plonetheme.kaerumy
