[buildout]
parts = instance
extends = https://dist.plone.org/release/6.0.15/versions.cfg

extensions = mr.developer
sources-dir = src/
auto-checkout =
    kaeru.note
    plonetheme.kaerumy

[sources]
kaeru.note = git https://github.com/kaerumy/kaeru.note.git  pushurl=git@github.com:kaerumy/kaeru.note.git branch=main
plonetheme.kaerumy = fs plonetheme.kaerumy

[versions]
pip = 25.0.1
setuptools = 75.8.2
wheel = 0.45.1
zc.buildout = 4.1.4
# 3.x switched to a PEP 420 (implicit) namespace package, which is
# invisible to the pkg_resources-style z3c namespace used by the other
# eggs, so "import z3c.jbot" fails. 2.2 is the last pkg_resources-style
# release.
z3c.jbot = 2.2

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Plone
    Pillow
    kaeru.note
    plonetheme.kaerumy
